# nodejs ignore
node_modules
.DS_Store
.env
.env.local
build
dist
.git

/**/*.js
**/*.jsx
!.prettierrc.js
!.prettierignore
!.eslintrc.js
!.eslintignore
!.gitignore
!.gitattributes
!.npmignore
!.npmrc
!jest.config.js